*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #d3d3d3;    
}
#container{
        width: 750px;
        margin:0 auto;
    }

    #topo {
        height: 150px;
        background: url(../imagens/detalhe-topo.png) no-repeat right top;
        padding-top: 25px;
        /*border: 1px solid red;*/
    }

    .logo {
        width: 152px;
        height: 66px;
        background: url(../imagens/logo.png) no-repeat center;
        text-indent: -3000px;
    }
/* barra de navegaçao
*/

a:link, a:visited {
	color: #b10333;
	padding: 2px;
}

a:hover {
	color: #e50040;
}

ul{
    margin:0;
    padding: 0;
    list-style: none;
}
a{
    color:#4b56a,
    text-decoration: none;
}
#topo ul {
    margin-top: #b10333;
    background:30px ;
    float: left;
}
#topo ul li {
    float: left;
}
#topo ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color:#fff;
    background: url (.../imag/divisor.png) no-repeat left center;
}
#topo ul a:hover{
    color:#69001d;
}
#topo ul .primeiro a {
	background: none;
}
body.home #navegacao a#home,
body.contato #navegacao a#contato, 
body.formacao #navegacao a#formacao,
body.portfolio #navegacao a#portfolio,
body.sobremim #navegacao a#sobremim
{
	color: #fff;
	background: #de003e;
	cursor: text;
}
#conteudo {
    background: #e8e8d9;
    padding: 30px;
}